<div class="container  p-2">
  <div class="container  p-2 ">
    <div class="row ">
      <div style="margin-left:10px" class=" border   span1 p-3 mt-3" *ngFor="let car of cars">
        <p>Driver Name: {{car.Owner_Name}}</p>
        <p>Capacity: {{car.CarCapacity}}</p>
        <p>Current Fill: {{car.Passengers.length}}</p>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" haspopup="true"
                  aria-expanded="false">Passengers
          </button>
          <div class="dropdown-menu">
            <p class="dropdown-item" *ngFor="let p of car.Passengers">{{p.Name}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
