<h4 class="text-center">Welcome {{PassengerData.Name}}</h4>
<div class="table-bordered container">
  <span *ngIf="PassengerData.Driver == false">

  <form class="col-lg-6 offset-lg-3 text-center">


    <span class="outline">
       <legend>
       Select A Car To Ride In
      </legend>
      <app-driver-select *ngFor="let car of cars"  [car]="car" [passengerData]="PassengerData" class="driver-select" (DriverChosen)="OnCarChoosenUpdated()"></app-driver-select>

    </span>
  </form>

      <span class="table-bordered">
        <form #CarCapacityForm="ngForm" class="col-lg-6 offset-lg-3 text-center" (ngSubmit)="OnCreateDriver(CarCapacityForm)">
          <legend>Become A Driver</legend>
          <input ngModel name="CarCapacity"  type="number" min="1" class="form-control" placeholder="Car Capacity" >
          <input type="submit" value="Add Car" class="btn mt-2"/>
        </form>
      </span>
    </span>

  <form *ngIf="PassengerData.Driver" class="col-lg-6 offset-lg-3 text-center">
    <legend>Driver Information</legend>

  </form>
</div>
