body {
  margin: 0;
  padding: 0;
  width:100%;
}

h1, h2, h3, h4, h5, h6, p, th {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin:0;
  padding:0;
}


.center-control {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.link {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.pointer:hover {cursor: pointer;}
